 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-cn">
<head>
	<include file="./Public/common_tpl/head.html" />
</head>
<body>
	<include file="./Public/common_tpl/header.html" />
	<include file="./Public/common_tpl/content_header.html" />

	<div class="container clearfix">

		<div class="slider fl">
			<ul class="slider-img">
				<li><img style="display:" src="__PUBLIC__/img/ad_slide_1.jpg"></li>
				<li><img style="display:" src="__PUBLIC__/img/ad_slide_2.jpg"></li>
				<li><img style="display:" src="__PUBLIC__/img/ad_slide_3.jpg"></li>
			</ul>
			<ul class="num">
				<li class="on">1</li>
				<li>2</li>
				<li>3</li>
			</ul>
		</div>

		<div class="news-tab fr">
			<h5 class="tab-title">公司新闻</h5>
			<div class="tab-content">
				<a class="clearfix" href="{:U('Article/article?id=26')}">
					<div class="w100 fl"><img width="100" height="70" src="__PUBLIC__/img/tab-news-2.jpg"></div>
					<div class="w160 fr txt">
						<p>华药健康驿站 名医帮扶工程活动简介</p>
						<span class="gray-9 date-24-time">2015-06-26 08:50:59</span>
					</div>
				</a>
				<a class="clearfix" href="{:U('Article/article?id=21')}">
					<div class="w100 fl"><img width="100" height="70" src="__PUBLIC__/img/tab-news-3.jpg"></div>
					<div class="w160 fr txt">
						<p>中医研究院技术交流项目及课程安排</p>
						<span class="gray-9 date-24-time">2015-06-26 08:51:04</span>
					</div>
				</a>
				<a class="clearfix" href="{:U('Article/article?id=20')}">
					<div class="w100 fl"><img width="100" height="70" src="__PUBLIC__/img/tab-news-4.jpg"></div>
					<div class="w160 fr txt">
						<p>基层医生三伏贴培训班正式开班</p>
						<span class="gray-9 date-24-time">2015-06-26 08:50:59</span>
					</div>
				</a>
				<a class="clearfix" href="{:U('Article/article?id=31')}">
					<div class="w100 fl"><img width="100" height="70" src="__PUBLIC__/img/tab-news-5.jpg"></div>
					<div class="w160 fr txt">
						<p>异常火爆的“一分钟诊所”究竟是如何运营的？</p>
						<span class="gray-9 date-24-time">2015-08-23 20:49:58</span>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="container clearfix">
		<div class="col-2-tab fl">
			<div class="tab-line"></div>
			<h5 class="tab-title">中医技术</h5>
			<div class="tab-container">
				<img class="fl" src="__PUBLIC__/img/tab-img-1.jpg">
				<div class="tab-article-con fr">
					<a class="tab-more" href="{:U('Article/article_list?category_id=3')}">更多>>></a>
					<div class="tab-article">
						<for start="0" end="5">
							<if condition="empty($traditional_tech[$i])">
								<a><h6>&nbsp;</h6></a>
							<else />
								<a href="{:U('Article/article?id='.$traditional_tech[$i]['id'])}" title="{$traditional_tech[$i]['title']}"><h6>{$traditional_tech[$i]['title']}</h6></a>
							</if>
						</for>
					</div>
				</div>
			</div>
		</div>
		<!-- /tab -->
		<div class="col-2-tab fr">
			<div class="tab-line"></div>
			<h5 class="tab-title">诊所交流</h5>
			<div class="tab-container">
				<img class="fl" src="__PUBLIC__/img/tab-img-2.jpg">
				<div class="tab-article-con fr">
					<a class="tab-more" href="{:U('Article/article_list?category_id=5')}">更多>>></a>
					<div class="tab-article">
						<for start="0" end="5">
							<if condition="empty($clinic_study[$i])">
								<a><h6>&nbsp;</h6></a>
							<else />
								<a href="{:U('Article/article?id='.$clinic_study[$i]['id'])}" title="{$clinic_study[$i]['title']}"><h6>{$clinic_study[$i]['title']}</h6></a>
							</if>
						</for>
					</div>
				</div>
			</div>
		</div>
		<!-- /tab -->
	</div>

	<div class="container clearfix">
		<div class="col-2-tab fl">
			<div class="tab-line"></div>
			<h5 class="tab-title">专家授课</h5>
			<div class="tab-container">
				<img class="fl" src="__PUBLIC__/img/tab-img-3.jpg">
				<div class="tab-article-con fr">
					<a class="tab-more" href="{:U('Article/article_list?category_id=4')}">更多>>></a>
					<div class="tab-article">
						<for start="0" end="5">
							<if condition="empty($pro_lesson[$i])">
								<a><h6>&nbsp;</h6></a>
							<else />
								<a href="{:U('Article/article?id='.$pro_lesson[$i]['id'])}" title="{$pro_lesson[$i]['title']}"><h6>{$pro_lesson[$i]['title']}</h6></a>
							</if>
						</for>
					</div>
				</div>
			</div>
		</div>
		<!-- /tab -->
		<div class="col-2-tab fr">
			<div class="tab-line"></div>
			<h5 class="tab-title">科普知识</h5>
			<div class="tab-container">
				<img class="fl" src="__PUBLIC__/img/tab-img-4.jpg">
				<div class="tab-article-con fr">
					<a class="tab-more" href="{:U('Article/article_list?category_id=7')}">更多>>></a>
					<div class="tab-article">
						<for start="0" end="5">
							<if condition="empty($knowledge[$i])">
								<a><h6>&nbsp;</h6></a>
							<else />
								<a href="{:U('Article/article?id='.$knowledge[$i]['id'])}" title="{$knowledge[$i]['title']}"><h6>{$knowledge[$i]['title']}</h6></a>
							</if>
						</for>
					</div>
				</div>
			</div>
		</div>
		<!-- /tab -->
	</div>

	<div class="container">
		<div class="banner-1000-70 bdr-1-blue">
			<img src="__PUBLIC__/img/banner-1000-70.gif">
		</div>
	</div>

	<div class="container">
		<div class="medicine-guide">
			<h5 class="tab-title">用药指导</h5>
			<div class="tab-container clearfix">
				<div class="clearfix">
					<div class="medicine-container fl">
						<b class="medicine-letter">A</b>
						<ul class="medicine-list">
							<li><a href="#">氨苯砜</a></li>
							<li><a href="#">奥沙西泮</a></li>
							<li><a href="#">氨苄西林钠</a></li>
							<li><a href="#">氨苄西林-舒巴坦</a></li>
						</ul>
					</div>
					<div class="medicine-container fl">
						<b class="medicine-letter">B</b>
						<ul class="medicine-list">
							<li><a href="#">吡哌酸</a></li>
							<li><a href="#">苯巴比妥</a></li>
							<li><a href="#">苯唑西林钠</a></li>
							<li><a href="#">苄星青霉素</a></li>
						</ul>
					</div>
					<div class="medicine-container fl">
						<b class="medicine-letter">C</b>
						<ul class="medicine-list">
							<li><a href="#">雌二醇</a></li>
							<li><a href="#">雌三醇</a></li>
							<li><a href="#">醋酸可的松</a></li>
							<li><a href="#">醋酸氢化可的松</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix">
					<div class="medicine-container fl">
						<b class="medicine-letter">D</b>
						<ul class="medicine-list">
							<li><a href="#">地西泮</a></li>
							<li><a href="#">地塞米松</a></li>
							<li><a href="#">多柔比星</a></li>
							<li><a href="#">地芬诺酯</a></li>
						</ul>
					</div>
					<div class="medicine-container fl">
						<b class="medicine-letter">E</b>
						<ul class="medicine-list">
							<li><a href="#">二氮嗪</a></li>
							<li><a href="#">厄贝沙坦</a></li>
							<li><a href="#">二巯丁二酸</a></li>
							<li><a href="#">二羟丙茶碱</a></li>
						</ul>
					</div>
					<div class="medicine-container fl">
						<b class="medicine-letter">F</b>
						<ul class="medicine-list">
							<li><a href="#">氟西泮</a></li>
							<li><a href="#">法可林</a></li>
							<li><a href="#">氟伐他汀</a></li>
							<li><a href="#">富马酸亚铁</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /container -->

	<include file="./Public/common_tpl/footer.html" />
	<script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		var len = $(".num > li").length;
    	var index = 0;  //图片序号
    	var adTimer;
    	showImg(0);
	    $(".num li").mouseover(function() {
	        index = $(".num li").index(this);  //获取鼠标悬浮 li 的index
	        showImg(index);
	    }).eq(0).mouseover();
	    //滑入停止动画，滑出开始动画.
	    $('.slider').hover(function() {
	        clearInterval(adTimer);
	    }, function() {
	        adTimer = setInterval(function() {
	            showImg(index)
	            index++;
	            if (index == len) {       //最后一张图片之后，转到第一张
	                index = 0;
	            }
	        }, 5000);
	    }).trigger("mouseleave");
	    function showImg(index) {
	        var adHeight = $(".slider>ul>li:first").height();
	        $(".slider-img").stop(true, false).animate({
	            "marginTop": -adHeight * index + "px"    //改变 marginTop 属性的值达到轮播的效果
	        }, 1000);
	        $(".num li").removeClass("on")
	            .eq(index).addClass("on");
	    }
	});
	</script>
</body>
</html>