a{cursor:pointer}
.max-wd-300 td{max-width:300px}
.unavailable{color:#aaa;cursor:not-allowed}
.unavailable:hover{color:#aaa}
.login-page{background:url('../images/login_bg.jpg') center no-repeat;background-color:#444}
.login-logo a{color:#fefefe;font-size:40px}