<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-cn" style="height:100%">
<head>
	<include file="./Public/common_tpl/head.html" />
	<style type="text/css">
	li {
		float:left;
		width:250px;

	}
	</style>
</head>
<body style="height:auto; min-height:100%; position:relative">
	<div class="container" style="position:relative">
		<img src="__PUBLIC__/img/vote_back.png" style="">
		<h1 style="top:150px; left:110px; font-size:40px; position:absolute; color:#405010">华药杯“燕赵好乡医”评比活动</h1>
		<div class="clearfix" style="margin-top:10px">
			<form style="float:right; margin-right:4px">
				<input placeholder="请输入姓名或编号" style="height:25px; padding:0px 10px; outline:none; border:1px solid #2b6bab"><button style="height:27px; width:45px; color:#fff; background:#2b6bab; margin:0; outline:none; border:none">搜索</button>
			</form>
		</div>

	</div>

	<div class="footer" style="position:absolute; bottom:0px; margin-top:20px; padding: 15px 0; background-color:#2f70b1; width:100%">
	<div class="container">
		<p style="font-family:tahoma, arial, 宋体; font-size:12px; text-align:center; line-height:20px; color:#fff">北京市公安局朝阳分局备案编号110105014669&nbsp;&nbsp;&nbsp;客服电话 400－654－0158（免费）</p>
		<p style="font-family:tahoma, arial, 宋体; font-size:12px; text-align:center; line-height:20px; color:#fff">本站信息仅供参考 不能作为诊断及医疗的依据</p>
		<p style="font-family:tahoma, arial, 宋体; font-size:12px; text-align:center; line-height:20px; color:#fff">&copy;CopyRight 2015 bkyl.net All Rights Reserved. 北科亿联中医研究院 版权所有</p>
	</div>
</div>
</body>
</html>