<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-cn">
<head>
	<include file="./Public/common_tpl/head.html" />
	<style type="text/css">
	li {
		float:left;
		width:250px;

	}
	</style>
</head>
<body>
	<div class="container" style="position:relative">
		<img src="__PUBLIC__/img/vote_back.png" style="">
		<h1 style="top:150px; left:110px; font-size:40px; position:absolute; color:#405010">华药杯“燕赵好乡医”评比活动</h1>
		<div class="clearfix" style="margin-top:10px">
			<form style="float:right; margin-right:4px">
				<input placeholder="请输入姓名或编号" style="height:25px; padding:0px 10px; outline:none; border:1px solid #2b6bab"><button style="height:27px; width:45px; color:#fff; background:#2b6bab; margin:0; outline:none; border:none">搜索</button>
			</form>
		</div>
		<div style="margin-top:5px; display:block;" class="clearfix">
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<a href="{:U('Vote/detail')}"><button style="width:70px; height:25px;">详情</button></a>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
			<li>
				<div class="" style="width:240px; margin:5px auto; height:245px; border:1px solid #bbb">
					<img src="__PUBLIC__/img/tab-img-1.jpg" style="height:130px; width:230px; margin:5px 5px;">
					<p style="font-family:'Microsoft Yahei'; margin-left:5px; font-size:16px">1&nbsp;&nbsp;&nbsp;张三&nbsp;&nbsp;&nbsp;男<i style="margin-right:10px; float:right; color:#dd4b39">123票</i></p>
					<p style="margin:5px 5px; height:43px; overflow: hidden; font-family:'Song'">工作地址：石家庄市和平西路112号白求恩国际和平医院</p>
					<p style="text-align:center;">
						<!-- <button style="width:70px; height:25px; background:#fff; border:none">投票</button> -->
						<button style="width:70px; height:25px;">投票</button>
						<button style="width:70px; height:25px;">详情</button>
					</p>
				</div>
			</li>
		</div>
		
		<style type="text/css">
			.vote-pagination li {
				width:30px; height:30px; background:#2b6bab; line-height:30px; text-align:center; display:inline-block;
				margin-left:3px;
				font-size:14px;
				font-family: 'Microsoft Yahei';
				color:#fff;
				float: none;
				border:1px solid #2b6bab;
				cursor:pointer;
			}
			.vote-pagination li:hover {
				background: #255c94;
			}
			.vote-pagination .current {
				color:#2b6bab;
				background:#fff;
			}
			.vote-pagination .current:hover {
				color:#fff;
			}

		</style>

		<div class="vote-pagination" style="text-align:center; margin-top:15px">
			<li><<</li>
			<li><</li>
			<li class="current">1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>></li>
			<li>>></li>
		</div>
	</div>

	<div class="footer" style="margin-top:20px; padding: 15px 0; background-color:#2f70b1">
	<div class="container">
		<p style="font-family:tahoma, arial, 宋体; font-size:12px; text-align:center; line-height:20px; color:#fff">北京市公安局朝阳分局备案编号110105014669&nbsp;&nbsp;&nbsp;客服电话 400－654－0158（免费）</p>
		<p style="font-family:tahoma, arial, 宋体; font-size:12px; text-align:center; line-height:20px; color:#fff">本站信息仅供参考 不能作为诊断及医疗的依据</p>
		<p style="font-family:tahoma, arial, 宋体; font-size:12px; text-align:center; line-height:20px; color:#fff">&copy;CopyRight 2015 bkyl.net All Rights Reserved. 北科亿联中医研究院 版权所有</p>
	</div>
</div>
</body>
</html>