<extend name="Public:base" />

<block name="css">
  <link href="__PUBLIC__/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
</block>

<block name="content">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="font-yh">文章管理</h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title font-yh">全部文章列表</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <form id="category_change" action="" method="get">
                    <div class="form-group col-md-3 col-xs-12">
                      <label>选择分类</label>
                      <select id="category_select" class="form-control" name="category_select">
                        <option style="display:none">请选择文章分类</option>
                      </select>
                    </div>
                  </form>
                  <!-- /category_change -->
                </div>
                <table id="article_list" class="table table-bordered table-hover"></table>
              </div>
              <!-- /box-body -->
          </div>
          <!-- /box -->
        </div>
        <!-- /col -->
      </div>
    </section>
    <!-- /content -->
  </div><!-- /.content-wrapper -->
</block>

<block name="loadjs">
  <include file="Public:set_sidebar" firstdir="文章管理" seconddir="文章列表" />

  <!-- datatables -->
  <script type="text/javascript" src="__PUBLIC__/plugins/datatables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/plugins/datatables/dataTables.bootstrap.min.js"></script>

  <script type="text/javascript">
    function datatableChange(cate_id) {
      $('#article_list').dataTable({
        'destroy': true,
        'dom': '<"pull-left"f>tp',
        'language': {
          'search': '搜索：',
          'emptyTable': '表格无数据',
          'loadingRecords': '加载中......',
          'paginate': {
            'previous': '上一页',
            'next': '下一页'
          },
        },
        'order': [[2, 'desc']],
        'ajax': {
          'url': '{:U("Article/get_article_list")}',
          'type': 'get',
          'data': {
            'format': 'datatables',
            'category_id': $('#category_select').val(),
            'order_by': 'id, title, modify_time'
          }
        },
        'columns': [{
          'title': '文章编号',
          'data': '0',
          'width': '10%'
        }, {
          'title': '文章标题',
          'orderable': false,
          'data': '1',
          'width': '55%'
        }, {
          'title': '修改时间',
          'data': '2',
          'width': '20%',
        }, {
          'title': '操作',
          'orderable': false,
          'width': '15%',
          'data': function(row, type, val, meta) {
            var html = '';
            html += '<a class="article_update href="#">[修改]</a>&nbsp;&nbsp;';
            html += '<a class="article_delete href="#">[删除]</a>';
            return html;
          }
        }],
        'initComplete': function() {
          $('#article_list_wrapper .pull-left').after('<a class="pull-right btn btn-success btn-sm" href="#"><i class="fa fa-plus"></i>&nbsp;添加文章</a>');
        },
        'drawCallback': function() {
        }
      });
    }

    $(document).ready(function() {
      $.ajax({
        type: 'get',
        url: "{:U('Category/get_category')}",
        dataType: 'json',
        success: function(data) {
          for (var i = 0; i < data.length; ++ i) {
            $('#category_select').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
          }

          $('#category_select').change(function() {
            datatableChange($('#category_select').val());
          });
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
  </script>
</block>