<extend name="Public:base" />

<block name="css">
</block>

<block name="content">
  <iframe id="ajax_response" name="ajax_response" style="display:none"></iframe>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="font-yh">文章管理</h1>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <form id="article_add" method="post" action="{:U('Article/article_update')}" enctype="multipart/form-data" target="ajax_response">
              <input type="hidden" name="id" value="{$data['id']}">
              <div class="box-header with-border">
                <h3 class="box-title font-yh">更新文章</h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="form-group col-md-3 col-xs-12">
                    <label>选择分类</label>
                    <select id="category_select" class="form-control" name="category_select">
                      <option value="-1" style="display:none">请选择文章分类</option>
                    </select>
                  </div>
                  <div class="form-group col-md-3 col-xs-12">
                    <label>其他设置</label>
                    <div class="checkbox" style="margin-top:6px">
                      <if condition="$data['istop'] == 1">
                        <label><input type="checkbox" name="istop" checked="checked">置顶</label>
                      <else />
                        <label><input type="checkbox" name="istop">置顶</label>
                      </if>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label>缩略图设置</label>
                    <input name="thumbnail" type="file">
                  </div>
                  <div class="col-md-6">
                    <if condition="empty($data['thumbnail'])">
                      <img src="__ROOT__/Public/img/tab-news-no.jpg">
                    <else />
                      <img src="__ROOT__/Uploads/{$data['thumbnail']}">
                    </if>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6 col-xs-12">
                    <label>文章标题</label>
                    <input class="form-control" type="text" name="title" value="{$data['title']}">
                  </div>
                </div>
                <textarea id="editor" name="content">{$data['content']}</textarea>
              </div>
              <!-- /box-body -->
              <div class="box-footer">
                <div class="row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary pull-right">更新</button>
                  </div>
                </div>
              </div>
              <!-- /box-footer -->
            </form>
          </div>
          <!-- /box -->
        </div>
      </div>
      <!-- /row -->
    </section>
  </div>
</block>

<block name="loadjs">
  <include file="Public:set_sidebar" firstdir="文章管理" />

  <!-- ckeditor -->
  <script type="text/javascript" src="__PUBLIC__/plugins/ckeditor/ckeditor.js"></script>

  <!-- ckfinder -->
  <script type="text/javascript" src="__ROOT__/Ckfinder/ckfinder.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $.ajax({
        type: 'get',
        url: '{:U("Category/get_category")}',
        dataType: 'json',
        success: function(data) {
          for (var i = 0; i < data.length; ++ i) {
            $('#category_select').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
          }

          var category_id = {$data['category_id']};
          if (category_id != undefined)
            $('option[value=' + category_id + ']').attr('selected', 'selected');
        },
        error: function(error) {
          console.log(error);
        }
      });
    });

    var editor = CKEDITOR.replace('editor', {height: '500'});
    CKFinder.setupCKEditor(editor, '__ROOT__/Ckfinder/');
    function CKupdate() {
      for (instance in CKEDITOR.instances)
        CKEDITOR.instances[instance].updateElement();
    }

    $('#article_add').submit(function() {
      $('<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>').appendTo('.box');
    });

    $('#ajax_response').load(function() {
      var info = $(document.getElementById('ajax_response').contentWindow.document.body).html();
      $('.overlay').remove();
      if (info == 'success') {
        category_id = $('#category_select').val();
        window.location.href = "{:U('Article/listing')}" + "&category_id=" + category_id;
      } else {
        errorTipFadeIn(info);
      }
    });

  </script>

</block>