<extend name="Public:base" />

<block name="css">
	<script type="text/javascript" src="__ROOT__/ckfinder/ckfinder.js"></script>
</block>

<block name="content">
	<!-- Content Wrapper. Contains page content -->
    	<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        	<h1 class="font-yh">
            	素材管理
          	</h1>
        </section>

        <!-- Main content -->
        <section class="content">
        	<div class="row">
        		<div class="col-xs-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title font-yh">查看素材信息</h3>
						</div>
						<!-- /box-header -->
						<div class="box-body">
							<p>

<script type="text/javascript">
	// This is a sample function which is called when a file is selected in CKFinder.
	function showFileInfo( fileUrl, data, allFiles )
	{
		var msg = 'The last selected file is: <a href="' + fileUrl + '">' + fileUrl + '</a><br /><br />';
		// Display additional information available in the "data" object.
		// For example, the size of a file (in KB) is available in the data["fileSize"] variable.
		if ( fileUrl != data['fileUrl'] )
			msg += '<b>File url:</b> ' + data['fileUrl'] + '<br />';
		msg += '<b>File size:</b> ' + data['fileSize'] + 'KB<br />';
		msg += '<b>Last modified:</b> ' + data['fileDate'];

		if ( allFiles.length > 1 )
		{
			msg += '<br /><br /><b>Selected files:</b><br /><br />';
			msg += '<ul style="padding-left:20px">';
			for ( var i = 0 ; i < allFiles.length ; i++ )
			{
				// See also allFiles[i].url
				msg += '<li>' + allFiles[i].data['fileUrl'] + ' (' + allFiles[i].data['fileSize'] + 'KB)</li>';
			}
			msg += '</ul>';
		}
		// this = CKFinderAPI object
		this.openMsgDialog( "Selected file", msg );
	}

	// CKFinder.customConfig = function( config )
	// {
	// 	config.startupPath = "Files:/gaojingm_hotmail_com/";
	// }

	// You can use the "CKFinder" class to render CKFinder in a page:
	if ("{$permission}" == "SUPER_ADMIN") {
		var path = "{$admin_username}";
		path = path.replace("@", "_");
		path = path.replace(".", "_");

		var finder = new CKFinder({
			startupPath : "Files:/" + path + "/images/"
		});
	} else {
		var finder = new CKFinder();
	}
	// The path for the installation of CKFinder (default = "/ckfinder/").
	finder.basePath = '__ROOT__/ckfinder/';
	// The default height is 400.
	finder.height = 600;
	// This is a sample function which is called when a file is selected in CKFinder.
	finder.selectActionFunction = showFileInfo;
	finder.create();

	// It can also be done in a single line, calling the "static"
	// create( basePath, width, height, selectActionFunction ) function:
	// CKFinder.create( '../', null, null, showFileInfo );

	// The "create" function can also accept an object as the only argument.
	// CKFinder.create( { basePath : '../', selectActionFunction : showFileInfo } );
</script>
							</p>
						</div>
					</div>
					<!-- /box -->
        		</div>
        		<!-- /col -->
        	</div>
        </section>
      </div><!-- /.content-wrapper -->
</block>
